<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>

    <div class="main-container">
        <div class="title-container">
            <span class="main-title">Led controler</span>
        </div>
        <div id="modes-selection">
        {%for i in range(ModesLen)%}
        <input type="radio" id="{{Modes[i]}}" name="modes" value="{{i+1}}" onChange="modeChanged()" />
        {%endfor%}
            <header id="filter">
        {%for i in range(ModesLen)%}
        <label for="{{Modes[i]}}" class="{{Modes[i]}}_label">{{Modes[i]}}</label>
        {%endfor%}
            </header>
        </div>

        <span id="mode-title"></span>

        <div id="colors_set">
            <div class="colored-squares">
            {%for i in range(ColorsLen)%}
            <label>
                <input type="radio" name="color" id="color-{{i}}" value="red" />
            <span class="swatch" style="background: {{SetColors[i]}}" ></span>
            </label>
            {%endfor%}
            </div>

            <div class="slider-width" id="brightness-slider">
                <span class="option-title-style">Brightness</span>
                <input type="range" value="50" min="0" max="100" step=1 id="range" oninput="display_brightness.innerHTML=value"/>
                <span class="displayer-style" id="display_brightness">50</span>
            </div>
        </div>

        <div id="color-options">
            <div class="wrapper-helper">
                <form method="POST">
                    <div class="slider-width" id="slider-r">
                        <span class="option-title-style">Red</span>
                        <input type="range" value="50" min="0" max="255" step=1 id="range" oninput="display_r.innerHTML=value"/>
                        <span class="displayer-style" id="display_r">50</span>
                    </div>
                    <div class="slider-width" id="slider-g">
                        <span class="option-title-style">Green</span>
                        <input type="range" value="50" min="0" max="255" step=1 id="range" oninput="display_g.innerHTML=value"/>
                        <span class="displayer-style" id="display_g">50</span>
                    </div>
                    <div class="slider-width" id="slider-b">
                        <span class="option-title-style">Blue</span>
                        <input type="range" value="50" min="0" max="255" step=1 id="range" oninput="display_b.innerHTML=value"/>
                        <span class="displayer-style" id="display_b">50</span>
                    </div>
                </form>
                <div id="color_square"></div>
            </div>
        </div>

        <div id="rainbow-options">
            <div class="rainbow_color_slider slider-width" id="rainbow_slider">
                <span class="option-title-style">Speed</span>
                <input type="range" value="0.5" min="0.01" max="1" step=0.01 id="range" oninput="display_rainbow_speed.innerHTML=value"/>
                <span class="displayer-style" id="display_rainbow_speed">0.5</span>
            </div>
        </div>


        <div id="walker-options">
            <div class="slider-width" id="walker_slider">
                <span class="option-title-style">Speed</span>
                <input type="range" value="0.05" min="0.001" max="0.1" step=0.001 id="range" oninput="display_walker_speed.innerHTML=value"/>
                <span class="displayer-style" id="display_walker_speed">0.05</span>
            </div>
        </div>

        <div id="snake-options">
            <div class="wrapper-helper">
                <div class="slider-width" id="snake-speed-slider">
                    <span class="option-title-style">Speed</span>
                    <input type="range" value="0.05" min="0.001" max="0.1" step=0.001 id="range" oninput="display_snake_speed.innerHTML=value"/>
                    <span class="displayer-style" id="display_snake_speed">0.05</span>
                </div>
                <form method="POST">
                    <input type="button" class="control-snake-button" id="turn_snake_left" name="run_button" value="Left" onclick="turnLeftReq()" />
                    <input type="button" id="update_snake_speed" name="run_button" value="Update" onclick="updateDoc()" />
                    <input type="button" class="control-snake-button" id="turn_snake_right" name="run_button" value="Right" onclick="turnRightReq()" />
                </form>
                <div class="config-selection">
                    <input type="radio" id="computer" name="snake-config" value="1" checked="true" />
                    <input type="radio" id="player" name="snake-config" value="2" />
                    <label for="computer" class="computer_label">Computer</label>
                    <label for="player" class="player_label">Player</label>
                </div>
            </div>
        </div>

        <div class="run-button">
            <form method="POST">
                <input type="button" id="run_button" name="run_button" value="Apply" onclick="loadDoc()" />
            </form>

        </div>

    </div>

    <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}" >
    </script>   

    </body>
</html>
